<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinayaka Home Server</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dash_style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Vinayaka Home Server</h1>

      <div class="breadcrumbs">
        Path:
        <a href="{{ url_for('dashboard', base_index=base_index) }}">home</a>
        {% set parts = req_path.split('/') if req_path else [] %}
        {% set built_path = '' %}
        {% for part in parts %}
          {% set built_path = built_path + '/' + part %}
          &nbsp;/&nbsp;
          <a href="{{ url_for('dashboard', base_index=base_index, req_path=built_path.strip('/')) }}">{{ part }}</a>
        {% endfor %}
      </div>

      <ul class="file-list">
        {% if req_path %}
        <li><a class="nav-link" href="{{ url_for('dashboard', base_index=base_index) }}">⬅️ Return Home</a></li>
        <li>
          <a class="nav-link"
            href="{{ url_for('dashboard', base_index=base_index, req_path=req_path.rsplit('/', 1)[0]) }}"
            >🔼 Up One Directory</a
          >
        </li>
        <li>
          <a class="nav-link"
            href="{{ url_for('download_zip', base_index=base_index, req_path=req_path) }}"
            >📦 Download Folder as ZIP</a
          >
        </li>
        {% endif %}

        {% for name, path in files %}
        <li>
          <a class="file-link" href="{{ path }}">
            {{ name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
